*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 80%;
    margin-top: 100px;
    margin: 0 auto;
    text-align: center;
}





















